{% extends 'admin/base_ecomer.html'%}
{% block contenido %}
  <a class="btn btn btn-secondary btn-sm" href="{% url 'usuarios:crear_user' %}" role="button">Añadir</a>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"><small>Usuario</small></th>
        <th scope="col"><small>Nombre</small></th>
        <th scope="col"><small>Apellido</small></th>
        <th scope="col"><small>Correo</small></th>
        <th scope="col"><small>Activo</small></th>
        <th scope="col"><small>Super usuario</small></th>
        <th scope="col"><small>Tipo</small></th>
        <th scope="col"><small>Sucursal</small></th>
        <th scope="col"><small>Zona</small></th>
      </tr>
    </thead>
    <tbody>
      {% for usr in object_list %}
      <tr>
        <th scope="row"><a href="{% url 'usuarios:user_update' usr.id %}"><small>{{usr.username}}</small></a></th>
        <th scope="row"><small>{{usr.first_name}}</small></th>
        <th scope="row"><small>{{usr.last_name}}</small></th>
        <th scope="row"><small>{{usr.email}}</small></th>
        <th scope="row">
          {% if usr.is_active %}
          <i class="far fa-thumbs-up"></i>
          {% else %}
          <i class="far fa-thumbs-down"></i>
          {% endif %}
        </th>
        <th scope="row">
          {% if usr.is_superuser %}
          <i class="far fa-thumbs-up"></i>
          {% else %}
          <i class="far fa-thumbs-down"></i>
          {% endif %}
        </th>
        <th scope="row"><small>{{usr.get_tipo_user_display}}</small></th>
        <th scope="row"><small>{{usr.suc_pertene}}</small></th>
        <th scope="row"><small>{{usr.zona_pertene}}</small></th>
        <th scope="row"><small><a class="btn btn-primary btn-sm" title="Cambiar password" href="{% url 'usuarios:user_update_pass' usr.id %}" role="button"><i class="material-icons"> vpn_key </i></a></small></th>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% endblock contenido %}