{% extends 'admin/base_ecomer.html'%}
{% block contenido %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Códido</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Tipo</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
  {% for dato in  object_list%}
    <tr>
      <th scope="row">{{ dato.dtl_codigo}}</th>
      <td>{{ dato.dtl_descripcion}}</td>
      <td>{{ dato.dtl_cantidad}}</td>
      <td>{{ dato.get_dtl_tipo_pedido_display}}</td>
      <td><a class="btn btn-danger" href="{% url 'pedido:delete_datailproducto' dato.dtl_id_detalle %}" role="button">Eliminar</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="row">


{% if ped_papeleria  %}
<form action="" method="post"> 
    {% csrf_token %}
    <input type="hidden" value="papeleria" name="tipo_pedido">
    <button type="submit" class="btn btn-primary">Confirmar pedido Papeleria!</button>
</form>
{% endif %}
{% if ped_lim_consultorio  %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="consultorio" name="tipo_pedido">
    <button type="submit" class="btn btn-success">Confirmar pedido Consultorio!</button>
</form>
{% endif %}
{% if ped_lim_sucursal  %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="sucursal" name="tipo_pedido">
    <button type="submit" class="btn btn-info">Confirmar pedido Sucursal!</button>
</form>
{% endif %}

{% if ped_consumibles  %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="consumible" name="tipo_pedido">
    <button type="submit" class="btn btn-info">Confirmar pedido Consumibles!</button>
</form>
{% endif %}

</div>
{% endblock contenido %}


