{% extends 'admin/base_ecomer.html'%}
{% block contenido %}
<form action="" method="post">
    {% csrf_token %}
    {% for input in form %}
        <div class="row">
            <div class="col-sm-6">
              {{input.label}}
              {{input.errors}}
              {{input}}
              {{input.help_text}}
            </div>
        </div>
        {% endfor %}

    <button type="submit" class="btn btn-success">Cambiar</button>
</form>
{% endblock contenido %}
{% block script %}
<script>
$( "input" ).addClass( "form-control" );
</script>
{% endblock script %}